<!--<header>-->
    <!--<div class="header-nav">-->
        <!--<ul>-->
            <!--<li><a [routerLink]="['/admin']">Главная</a></li>-->
            <!--<li><a [routerLink]="['goods']">Товары</a></li>-->
            <!--<li><a [routerLink]="['categories']">Категории</a></li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</header>-->

<md-card>
    <a md-raised-button [routerLink]="['/admin']">Главная</a>
    <a md-raised-button [routerLink]="['goods']">Товары</a>
    <a md-raised-button [routerLink]="['categories']">Категории</a>
</md-card>
